.title {
  color:white;
}
body{
  margin: 0;
  font-family: fantasy;
}
a{
  text-decoration:none;
  font-size:20px
}
.container{
  width:1170px;
  padding:0 15px;
  margin: 0 auto;
}
.top-wrapper{
  padding:180px 0 100px 0;
  background-image: url(乾杯.jpeg);
  color:white;
  background-size:cover;
  zoom:2.5;
}
.top-wrapper h1{
  opacity: 0.9;
  font-size:45px;
  letter-spacing: 5px;
}
.top-wrapper p{
  opacity: 0.9;
}
span{
  color:aqua
}
footer p{
  color:orange;
}
