.title {
  color:white;
}
body{
  margin: 0;
  font-family: fantasy;
}
a{
  text-decoration:none;
  font-size:20px
}
.container{
  width:1170px;
  padding:0 15px;
  margin: 0 auto;
}
.top-wrapper{
  padding:180px 0 100px 0;
  background-image: url(sota1.jpeg);
  color:white;
  background-size:cover;
}
.top-wrapper h1{
  opacity: 0.9;
  font-size:45px;
  letter-spacing: 5px;
}
.top-wrapper p{
  opacity: 0.9;
}
header{
  height:30px;
  background-color:olive;
}
.logo{
  width:124px
  margin-top:20px
}
.lesson-wrapper{
  height:500px;
  padding-bottom:80px;
  background-color:#f7f7f7;
}
.heading{
  padding:60px 0 30px 0;
  color:#5f5d60;
}
.heading h2{
  font-weight:normal;
}
.lesson{
  float:left;
  width:23%;
}
footer p{
  color:green;
}
a{
  color:orange;
}
